.ui.form.mod-form {
  max-width: 50rem;
  margin: 0 auto;
  margin-top: 40px;
  padding-bottom: 60px;
}

.ui.form.mod-form .field > label {
  font-size: 14px;
  color: var(--secondary-color);
  font-weight: 400;
  margin-bottom: 11px;
  max-width: 149px;
}

.ui.form .ui.negative.button,
.ui.form .ui.secondary-color.button {
  margin-top: 21px;
}

.mod-form input[type='file'] {
  display: none;
}

.ui.form.mod-form .field > label.input-file {
  color: #fff;
}

.ui.form.mod-form .field > label.input-file i {
  opacity: 1;
  padding-left: 15px;
}

.ui.form input[type='text'],
.ui.selection.dropdown,
.ui.form input[type='number'] {
  border: 0.5px solid var(--secondary-color);
  font-family: 'Open Sans', sans-serif;
  color: var(--dark-medium-color);
}

.ui.form input[type='text']:focus,
.ui.form input[type='number']:focus {
  color: var(--dark-medium-color);
}

.ui.form input[type='text']::placeholder,
.ui.default.dropdown:not(.button) > .text,
.ui.dropdown:not(.button) > .default.text,
.ui.form input[type='number']::placeholder {
  color: var(--secondary-color);
  font-size: 13px;
}

.ui.form p.info {
  color: var(--secondary-color);
  font-size: 13px;
  margin-top: -7px;
}

.form-review .mod-preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mods-list .contribution {
  width: 100%;
  border-bottom: 2px solid #444;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.preview-img img {
  max-width: 30rem;
}

input#files {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: block;
}

#files-label {
  position: relative;
}

.files-list {
  margin-top: 30px;
}

.files-list ul {
  list-style: none;
  max-width: 900px;
  position: relative;
}

.files-list ul li {
  display: inline;
  padding-right: 45px;
  font-size: 15px;
  color: var(--primary-color);
}

form label#files-label {
  padding: 24px;
  width: 100%;
  max-width: 100%;
  height: 200px;
  display: inline-block;
  border: 2px dashed var(--primary-color);
  font-size: 18px;
  margin-top: 10px;
}

.field.large {
  width: 100% !important;
}

@media only screen and (max-width: 768px) {
  form label#files-label {
    display: none;
  }
}
