.form-review .mod-preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mods-list .contribution {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 80px;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 28px;
}

.preview-img img {
  max-width: 30rem;
}

input#files {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: block;
}

#files-label {
  position: relative;
}

.files-list {
  margin-top: 30px;
}

.files-list ul {
  list-style: none;
  max-width: 900px;
  position: relative;
}

.files-list ul li {
  display: inline;
  padding-right: 45px;
  font-size: 15px;
  color: var(--primary-color);
}

form label#files-label {
  padding: 24px;
  width: 100%;
  max-width: 100%;
  height: 200px;
  display: inline-block;
  border: 2px dashed var(--primary-color);
  font-size: 18px;
  margin-top: 10px;
}

.field.large {
  width: 100% !important;
}

@media only screen and (max-width: 768px) {
  form label#files-label {
    display: none;
  }
}
