* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: auto;
    min-height: 100vh;
    padding-top: 67px;
    padding-bottom: 170px;
    position: relative;
}

.ui.dropdown .menu .selected.item, .ui.dropdown.selected {
    color: rgba(0,0,0,.85);
}

/* Navbar */
.ui.secondary.pointing.menu {
    background: #fff;
    padding: 0.5rem 0;
}

.header-placeholder {
    width: 100%;
    height: 64px;
    z-index: -1;
}

.sidebar {
    display: none;
}

/* Home Page */

/* Hero Section */
.hero-placeholder {
    width: 100%;
    height: 100vh;
    max-height: 55rem;
}
.hero {
    background: url('./img/hero.jpg') no-repeat center center/cover;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    max-height: 55rem;
}

.hero .ui.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .ui.container .text.title {
    font-size: 3.5rem;
    line-height: 3.5rem;
    font-weight: bold;
    padding-bottom: 2rem;
}

.hero .ui.container .ui.form .three.wide.field label {
    color: #fff;
    padding-bottom: 0.5rem;
}

.hero .ui.green.button {
    margin-top: 0.5rem;
}

/* Brands Page */
.brands-grid {
    margin-top: 1rem !important;
}

.brands-grid [class*='five wide'].column {
    height: 12rem;
    display: block;
}

.brands-grid [class*='five wide'].column .column {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.brands-grid .ui.fluid.image img {
    width: 50%;
    max-height: 100%;
    margin: 0 auto;
}

/* Filter Cards */
.ui.fluid.image img {
    border-radius: 4px;
}

.sort-dropdown {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

/* Pagination */
.pagination-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.ui.pagination.menu {
    border-radius: 20px;
    border: none;
    box-shadow: 0 1px 10px 0 rgb(34 36 38 / 15%);
}

.ui.pagination.menu .item {
    color: #21ba45;
    position: inherit;
    font-weight: 600;
}

.ui.pagination.menu .item:hover {
    background: #999;
    color: #fff;
    /* border-radius: 50%; */
}

.ui.menu .item:before {
    background: #fff;
}

.ui.pagination.menu .active.item {
    background: #21ba45;
    color: #fff;
    border-radius: 50%;
}

/* Cars Cards List */
.carsList-grid {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carsList-grid .ui.form {
    width: 100%;
}

.carsList-grid .ui.link.cards {
    margin-top: 3rem;
    max-width: 920px;
}

.ui.negative.message {
    width: 100%;
}

/* Footer */
#footer {
    margin-top: 3rem;
    padding: 3rem 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#footer .ui.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer .item {
    color: #fff;
    padding: 0 1rem;
}

#footer a.scrollUpButton {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    height: 2rem;
    width: 3rem;
    text-align: center;
}

#footer a.disabled {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.35);
}
